  <nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
    <!-- top nav -->
    <nav class="navbar navbar-top hidden-xs">
      <div class="container">
        <!-- left nav top -->
        <ul class="nav navbar-nav pull-left">
          <li><a href="#"><span class="glyphicon glyphicon-thumbs-up text-white"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-globe text-white"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-pushpin text-white"></span></a></li>
          <li><a href="#"><span class="text-white">QUESTIONS? CALL: <b>+1-555-555-5555</b></span></a></li>
        </ul>
        <!-- right nav top -->
        <ul class="nav navbar-nav pull-right">
          <li><a href="https://github.com/ridiculous-inc" class="text-white">About Us</a></li>
          <li><a href="https://github.com/ridiculous-inc" class="text-white">Contact Us</a></li>
          {% if user == "noAuth": %}
            <li><a href="/register" class="text-white">Register</a></li>
            <li><a href="/login" class="text-white">Login</a></li>
          {% else: %}
            <li><a href="#" class="text-white">Welcome, {{user}}</a></li>
            <li><a href="/logout" class="text-white">Logout</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="dividline light-grey"></div>
    </nav>
    <!-- down nav -->
    <nav class="navbar navbar-down">
      <div class="container">
        <div class="flex-container">  
          <div class="navbar-header flex-item">
            <a class="navbar-brand" href="https://ridiculous-inc.com/coin-manager">Coin Manager</a>
          </div>
          <ul class="nav navbar-nav flex-item hidden-xs">
            <li><a href="https://github.com/ridiculous-inc">Projects</a></li>
            <li><a href="https://www.cryptocompare.com/">CrpytoCompare</a></li> 
            <li><a href="https://github.com/ridiculous-inc">TheTeam</a></li> 
          </ul>
          <!-- dropdown only moblie -->
            <div class="dropdown visible-xs pull-right">
              <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
                <span class="glyphicon glyphicon-align-justify"></span> 
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Projects</a></li>
                <li><a href="#">Pricing</a></li> 
                <li><a href="#">TheTeam</a></li> 
                <li role="separator" class="divider"></li>
                <li><a href="#">contact us</a></li>
              </ul>
            </div>
          </div>  
        </div>
      </nav>
    </nav> 
    <!--bg img  -->
<header>
    <img src="/static/images/italy-lights.jpeg" style="width:100%">
</header>    