
{% extends 'template.html' %}
{% block main %}
	<div class="col-sm-8 col-sm-offset-2">
            <form class="form-horizontal" role="form" action="register-submit" method="post">
                <h2>Register</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-9">
                        <input name="full_name" type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input name="email" type="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input name="password" type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Primary Coin</label>
                    <div class="col-sm-12 coins-options">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
									<input name="coin" type="radio" value="BTC" checked="checked">BTC
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
									<input name="coin" type="radio" value="ETH">ETH
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
									<input name="coin" type="radio" value="ZEC">ZEC
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
									<input name="coin" type="radio" value="PASC">PASC
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
									<input name="coin" type="radio" value="DASH">DASH
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
									<input name="coin" type="radio" value="LTC">LTC
                                </label>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form> <!-- /form -->
    </div>
{% endblock %}